<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/hibernatedb</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>

		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">10</property>

		<!-- mysql dialect -->
		<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
		
		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
		<!-- 
		<property name="cache.use_second_level_cache">true</property>   
         <property name="cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property> 
		 -->
		
		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property> 

		<!-- Print all executed SQL to stdout(console) -->
		<property name="show_sql">true</property>

		<!-- update existing database(Drop and re-create the database schema on startup, if used as create)-->
		<property name="hbm2ddl.auto">create</property>

		<!-- Names the annotated entity classes here -->
        <!--
		<mapping class="com.rajeshkawali.embedded.Employee" />
		<mapping class="com.rajeshkawali.embedded.Address" />
		
		<mapping class="com.rajeshkawali.basics.UserDetails" />
		<mapping class="com.rajeshkawali.basics.Vehicle" />
		-->
		 <!--
		<mapping class="com.rajeshkawali.onetoone.UserDetailsOTO" />
		<mapping class="com.rajeshkawali.onetoone.VehicleOTO" /> 
		
		<mapping class="com.rajeshkawali.onetomany.UserDetailsOTM" />
		<mapping class="com.rajeshkawali.onetomany.VehicleOTM" /> 
		 
		<mapping class="com.rajeshkawali.manytoone.UserDetailsMTO" />
		<mapping class="com.rajeshkawali.manytoone.VehicleMTO" /> 
		
		<mapping class="com.rajeshkawali.inheritance.singletable.Employee" />
		<mapping class="com.rajeshkawali.inheritance.singletable.ContractEmployee" /> 
		<mapping class="com.rajeshkawali.inheritance.singletable.PermanentEmployee" /> 
		
		<mapping class="com.rajeshkawali.inheritance.mappedsuperclass.Employee" />
		<mapping class="com.rajeshkawali.inheritance.mappedsuperclass.ContractEmployee" /> 
		<mapping class="com.rajeshkawali.inheritance.mappedsuperclass.PermanentEmployee" />
		
		<mapping class="com.rajeshkawali.inheritance.jointable.Employee" />
		<mapping class="com.rajeshkawali.inheritance.jointable.ContractEmployee" /> 
		<mapping class="com.rajeshkawali.inheritance.jointable.PermanentEmployee" /> 
		
		<mapping class="com.rajeshkawali.inheritance.singletable.Employee" />
		<mapping class="com.rajeshkawali.inheritance.singletable.ContractEmployee" /> 
		<mapping class="com.rajeshkawali.inheritance.singletable.PermanentEmployee" /> 
-->

<mapping class="com.rajeshkawali.inheritance.tableperclass.Employee" />
		<mapping class="com.rajeshkawali.inheritance.tableperclass.ContractEmployee" /> 
		<mapping class="com.rajeshkawali.inheritance.tableperclass.PermanentEmployee" />

	</session-factory>
</hibernate-configuration>



<!--  To Configure Second level cache

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernatedb</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        
        <property name="hibernate.cache.use_second_level_cache">true</property>
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
        <property name="hibernate.cache.use_query_cache">true</property>
        <property name="net.sf.ehcache.configurationResourceName">ehcache.xml</property>
        
 		<mapping class="com.rajeshkawali.secondlevelcache.Employee" />
		<mapping class="com.rajeshkawali.secondlevelcache.Address" />
 
    </session-factory>
</hibernate-configuration>

-->


